apiVersion: lifecycle.github.io/v1alpha1
kind: CronExecutionCleaner
metadata:
  labels:
    app.kubernetes.io/name: cronexecutioncleaner
    app.kubernetes.io/instance: cronexecutioncleaner-sample
    app.kubernetes.io/part-of: cron-execution-cleaner
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/created-by: cron-execution-cleaner
  name: cronexecutioncleaner-sample
spec:
  # TODO(user): Add fields here
